<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    
    <!-- font awesome for the trashcan icon --> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">  

    <link rel="icon" type="iamge/x-icon" href="images/cow_logo.png"> 
    
    <title>{{{appName}}}</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                    <img src="images/cow_logo.png" class="header-logo">
                    <a href="/" class="app-name">{{appName}}</a>
            </div>
            <ul>
                <!-- conditional rendering based on variables - Is the user logged in?-->
                {{#if loggedIn}}
                    <li><a href="/" class="inactive">Home</a></li>
                    <li><a href="/profile" class="inactive">Profile</a></li>
                    <li><a href="/logout" class="inactive">Logout <span>{{user.username}}</span> </a></li>
                    <div class="user-info">

                        <!-- conditional rendering based on variables -->
                        <img src="{{#if user.avatar_url}} 
                                        {{user.avatar_url}}
                                    {{else}}
                                        /avatar/{{user.username}}
                                    {{/if}}" 
                                    alt="User Avatar" 
                                    class="nav-avatar">
                    </div>
                {{else}}
                    <li><a href="/" class="inactive">Home</a></li>
                    <li><a href="/login" class="inactive">Login/Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>© {{{copyrightYear}}} {{{appName}}}. All rights reserved.</p>
    </footer>
</body>
</html>
